**/keys.sh
.DS_Store
.terraform/
terraform.tfstate*
.terraform*
node*/
*.log
**cockroach-data/
**cockroach_data/
teleport/teleport/
local_cert/certs/
local_cert/my-safe-directory/
docker_cert/certs/
docker_cert/my-safe-directory/
**node*/
**node*/
**node*/
**node*/
**node*/
